@tailwind base;
@tailwind components;
@tailwind utilities;

.notification {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
 /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
